# nodejs
node_modules

# test
spec
jest.config.ts
jest.config.cjs

# eslint
eslint.config.mjs

# typescript
tsconfig.json
tsconfig.lib.json

# dotenv
.env

# ide
.DS_Store
.vscode
.theia
.idea
.devcontainer
.gitpod.yml

# github
.github

# babel
babel.config.js

# rollup
rollup.config.mjs
rollup.config.cjs
